<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<title>András munkái</title>
		
		<link rel="shortcut icon" href="style/images/{{favicon.ico}}"/>
		
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fira+Sans:300italic&subset=latin,latin-ext"/>
		<link rel="stylesheet" href="style/{{andraaspar.css}}"/>
		<script src="script/{{andraaspar.min.js}}"></script>
	</head>
	<body>
		<section>
			<h1>András munkái</h1>
			<p>Mindezeket megtalálod a <a href="https://github.com/andraaspar">Github oldalamon</a>.</p>
			<h2><a href="/kirako/">Kirakó</a></h2>
			<p>Kreatív játék. Készít képet a mozaik darabkákból, azután mozgasd meg a billentyűzet nyílgombjaival!</p>
			<h2><a href="/madonna/">Madonna</a></h2>
			<p>Egy kép, amit festek.</p>
			<h2><a href="/mag/">Mag</a></h2>
			<p>Szógyakorló program. Készíts szólistát, aztán tanuld meg!</p>
			<hr/>
			<p><a href="index.html?nr" hreflang="en">English</a></p>
		</section>
	</body>
</html>