<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<title>András’ projects</title>
		
		<link rel="shortcut icon" href="style/images/{{favicon.ico}}"/>
		
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fira+Sans:300italic&subset=latin,latin-ext"/>
		<link rel="stylesheet" href="style/{{andraaspar.css}}"/>
		<script>var mayRedirect = true;</script>
		<script src="script/{{andraaspar.min.js}}"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-61061950-1', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<section>
			<h1>András’ projects</h1>
			<p>All of these can be found on <a href="https://github.com/andraaspar">my Github page</a>.</p>
			<h2><a href="/kirako/">Kirakó</a></h2>
			<p>A creative game. Create a picture from a selection of mosaic pieces, then make it move using the arrow keys on the keyboard.</p>
			<h2><a href="/madonna/">Madonna</a></h2>
			<p>A picture I'm painting.</p>
			<h2><a href="/mag/">Mag</a></h2>
			<p>Word learning program, only in Hungarian for now. Define a list of words, then learn them!</p>
			<h2><a href="/szorozz/">Szorozz!</a></h2>
			<p>A program for practicing multiplication and division.</p>
			<hr/>
			<p><a href="index-hu.html?nr" hreflang="hu">Magyarul</a></p>
		</section>
	</body>
</html>