<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<title>András’ projects</title>
		
		<link rel="shortcut icon" href="style/images/{{favicon.ico}}"/>
		
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fira+Sans:300italic&subset=latin,latin-ext"/>
		<link rel="stylesheet" href="style/{{andraaspar.css}}"/>
		<script>var mayRedirect = true;</script>
		<script src="script/{{andraaspar.min.js}}"></script>
		
		<link rel="alternate" href="index-hu.html" hreflang="hu"/>
	</head>
	<body>
		<section>
			<h1>András’ projects</h1>
			<p>All of these can be found on <a href="https://github.com/andraaspar">my Github page</a>.</p>
			<h2><a href="/kirako/">Kirakó</a></h2>
			<p>A creative game. Create a picture from a selection of mosaic pieces, then make it move using the arrow keys on the keyboard.</p>
			<h2><a href="/madonna/">Madonna</a></h2>
			<p>A picture I'm painting.</p>
			<h2><a href="/mag/">Mag</a></h2>
			<p>Word learning program, only in Hungarian for now. Define a list of words, then learn them!</p>
			<hr/>
			<p><a href="index-hu.html?nr" hreflang="hu">Magyarul</a></p>
		</section>
	</body>
</html>